<!-- src/app/modules/editor-tactical/components/canvas/canvas.component.html -->
<div class="canvas-container">
  <div class="canvas-toolbar">
    <button mat-raised-button color="primary" (click)="saveCanvas()">
      <mat-icon>save</mat-icon> Salva
    </button>
    <button mat-raised-button color="accent" (click)="exportCanvas()">
      <mat-icon>download</mat-icon> Esporta
    </button>
    <button mat-raised-button color="warn" (click)="clearCanvas()">
      <mat-icon>clear</mat-icon> Pulisci
    </button>

    <span class="spacer"></span>

    <button mat-raised-button color="warn" (click)="deleteSelectedElement()">
      <mat-icon>delete</mat-icon> Elimina Selezionato
    </button>
  </div>

  <div class="canvas-wrapper">
    <canvas #canvas></canvas>
    <div class="canvas-info" *ngIf="selectedElementType">
      <p>Elemento selezionato: {{ selectedElementType }}. Clicca sul campo per posizionarlo.</p>
    </div>
  </div>

  <div class="timeline-container">
    <app-timeline></app-timeline>
    <app-playback-controls></app-playback-controls>
  </div>
</div>

<!-- src/app/modules/editor-tactical/components/canvas/canvas.component.scss -->